
/** CSS du site BeCool Cooking - copyright 2021 - Christian Jadot BeCode **/

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

* {
    box-sizing: border-box;
  }

html body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-color: #ebebeb;
    font-family: 'Rajdhani', sans-serif;
    font-size: 100%;
}

.jumbotron, .jumbotron-fluide {
    margin: 0;
    padding: 0;
}
.jumbotron .container, .jumbotron-fluide .container {
    background-color:firebrick;
    color: white;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}
.jumbotron .container .logo, .jumbotron-fluide .container .logo {
    max-width: 100%;
}

.container {
    background-color: white;
}

/** header **/
header {
    background-color: white;
    color: black;
    padding: 10px 0;
    /*height: 100px;*/
}
    h1, h2, h3, h4 {
        font-family: 'Fugaz One', cursive;
    }
    .logo {
        max-width: 150px;
    }
    nav ul li {
        list-style-type: none;
    }
    a.nav-link {
        color: black;
        font-size: 1.2rem;
    }
    a.active {
        font-weight: bold;
    }
    img {
        max-width: 100%;
        height: auto;
    }

/** main **/
main {
    padding: 0 20px;
}
    .menu h5 {
    margin: 0;
    }
    p.price {
    text-align: left;
    }
    .ligr {
    color:rgb(168, 168, 168);
    }
    .entrees, .plats {
    padding: 10px;
    border-bottom: 1px dashed #ebebeb;
    }
    form em {
        font-size: 0.8rem;
    }
    form label {
        margin-bottom: .1rem;
    }
    .horaire {
        font-size: 0.8rem;
    }
    main address .email, main address .tel {
        color: black;
    }

    /** image hover effect **/
    .margin30 {
        margin-bottom: 30px;
    }
    .item-img-wrap {
        position: relative;
        text-align: center;
        overflow: hidden;
    }
    .item-img-wrap img {
        -moz-transition: all 200ms linear;
        -o-transition: all 200ms linear;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
        width: 100%;
    }
    .item-img-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .item-img-overlay span {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url(http://bootstraplovers.com/templates/assan-2.2/main-template/img/plus.png) no-repeat center center rgba(0, 0, 0, 0.7);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -moz-transition: opacity 250ms linear;
        -o-transition: opacity 250ms linear;
        -webkit-transition: opacity 250ms linear;
        transition: opacity 250ms linear;
    }
    .item-img-wrap:hover .item-img-overlay span {
        opacity: 1;
    }
    .item-img-wrap:hover img {
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
/** pagination **/
    .gallery-bottom .pagination {
        margin-top: 0px;
    }
    .pagination > li > a, .pagination > li > span {
        background-color: #ccc;
        padding: 3px 9px;
        color: #fff;
        border: 0px;
    }
    .pagination > li > a {
        margin-right: 5px;
    }
    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        background-color: #17a2b8;
    }

/** footer **/
footer {
    background-color: black;
    color: white;
    padding: 20px 10px 5px;
    margin: 0;
    max-width: 100%;
}
    footer h6 {
        color: #7c7c7c;
    }
    footer p, footer li, footer a.nav-link, address,.copy {
        font-size: 0.8rem;
    }
    footer .copy {
        text-decoration: overline white;
    }
    footer ul li {
        list-style-type: none;
        margin: 0;
    }
    footer a.nav-link, footer address .email, footer address .tel {
        color: white;
    }
    footer a.nav-link {
        padding: 0;
        margin: 0;
    }

@media screen and (max-width: 600px) {
    html {font-size: 85%;}
    .logo {max-width: 100%}
    header .logo {max-width: 70%}
    ul li a.nav-link {padding-left: 0;}
    .asidehide {
        display: none;
    }
}