
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

* {
    box-sizing: border-box;
  }

html body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-color: #ebebeb;
    font-family: 'Rajdhani', sans-serif;
}

/*.container {
    width: 80vw;
}*/

header {
    background-color: white;
    color: black;
    padding: 20px 0;
    /*height: 100px;*/
}
h1, h2, h3 {
    font-family: 'Fugaz One', cursive;
}
.logo {
    width: 150px;
}
nav ul li {
    list-style-type: none;
}
.imgh {
    height: 100%;
}
.imgw {
    width: 100%;
}
/*main {
    height: 100vh;
}*/

footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    margin: 0;
    max-width: 100%;
}
footer p, footer li {
    font-size: 0.8rem;
}
footer a.nav-footer {
    color: white;
}